/* Reset */
*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nerko One', cursive;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

body{
    background-color: #ADD8E6;
}

header{
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
    color: white;
}

.col{
float: left;
border-radius: 15px;
background-color: thistle;
height: 350px;
width: calc(25% - (0.7% * 2 ));
margin: 0.7%;


}

.container{
    width: 70%;
    margin: 50px 10%;
    background-color: teal;
    height: 900px;
}